.nav_bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1020px;
    height: 75px;
    margin-top: 20px;
    border-radius: 45px;
    backdrop-filter: blur(10px) saturate(100%);
    -webkit-backdrop-filter: blur(10px) saturate(100%);
    background-color: rgba(255, 255, 255, 0.34);
}

.logo{
    margin-top: 4px;
    margin-left: 15px;
    width: 70px;
}
.logo_02{
    margin-top: 4px;
    width: 70px;
}
.primary_nav{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    gap: 40px;
}
.primary_nav ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    list-style: none;
    margin: 0;
    padding: 0;
}
.secondary_nav{
    display: flex;
    align-items: center;
    gap: 14px;
    margin: 0;
    padding: 0;
}
.third_nav{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 0px !important;
    text-transform: uppercase;
    font-family: 'outfit';
    font-size: 10px;
    text-align: right;
    margin-right: 35px;
}
ul li a{
    font-family: 'Outfit', sans-serif;
    text-decoration: none;
    color: white;
    letter-spacing: 1.2px;
}